
.signup-background {
    background-color:white;
     background-size: cover;
     background-position: center;
     height: 100vh;
     width: 100vw;
     display: flex;
     align-items: center;
     justify-content: center;
   
   }
   
   .signup-container {
     width: 100%;
     max-width: 600px;
     padding: 20px;
   }
   
   .signup-card {
     background-color: rgba(213, 219, 218, 0.9);
     border-radius: 20px;
     box-shadow: 0 0 20px rgba(46, 45, 45, 0);
     padding: 30px;
     opacity: 0.9;
   }
   
   
   .signup-card-header {
     text-align: center;
     margin-bottom: 20px;
     color: #a8ccf3;
     
   }
   
   .signup-card-header h2 {
     color: rgb(0, 7, 10);
     font-size: 28px;
     font-weight: bold;
   }
   
   .signup-card-body .form-control {
     border: none;
     border-radius: 5px;
     background-color: #faf7f7;
     padding: 15px 20px;
     margin-bottom: 20px;
   }
   
   .signup-card-body .form-control:focus {
     box-shadow: none;
     background-color:white;
   }
   
   .signup-card-body .btn-primary {
     background-color: #007bff;
     border: none;
     border-radius: 5px;
      padding: 15px 0; 
     font-weight: bold;
     transition: background-color 0.3s ease;
     width: 100%;
   }
   
   .signup-card-body .btn-primary:hover {
     background-color: #586068;
   }
   
   .signup-card-footer {
     text-align: center;
     margin-top: 20px;
     color: #666;
   }
   
   .signup-card-footer a {
     color: #007bff;
     text-decoration: none;
     font-weight: bold;
   }
   
   .signup-card-footer a:hover {
     text-decoration: underline;
   }
   a{
       cursor:pointer;
       text-decoration: none;
      }
      
   
   