<div class="flex">
  <div class="signup-background">
    <div class="signup-container">
      <div class="signup-card">
        <div class="signup-card-header">
          <h2>forgot password</h2>
        </div>
        <div class="signup-card-body">
          <form>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                [(ngModel)]="email"
                name="email"
              />
            </div>
            <div class="col-md-6 offset-md-3 text-center">
              <button
                type="button"
                class="btn btn-primary btn-block"
                (click)="forgetpassword()"
              >
                send Mail
              </button>
            </div>
          </form>
        </div>
        <div class="signup-card-footer">
          <a [routerLink]="['/login']">Back to login </a>
        </div>
      </div>
    </div>
  </div>
</div>
